extends roller

block above-roller
  form
    input#allowMultipleGMs(type="checkbox", name="allowMultipleGMs", checked=allowMultipleGMs)
    =' '
    label(for="allowMultipleGMs") Allow other GMs to join
  table#clients
    thead
      tr
        th name
        th class
        th
        th
    tbody
      tr
        td(colspan="4") (loading&hellip;)

  #diceselector
    select
      option(value="none") &ndash;
      for className, classVal in classNames
        option(value=classVal)
          = className

block my-dice
  for className, classVal in classNames
    if sidesByKind[classVal] && classVal != "master"
      img.otherclasses.nodisplay(data-kind=classVal, src=`/img/${classVal}.png`)
  img#my-die(data-kind="master", src='/img/master.png')

block left-controls
  label
    | show all dice:
    = ' '
    input#showAllDice(type="checkbox")

block after-chat
  form#emote-form
    label(for="emotebox") Emote message:
    - let d = `${username} has spent a cheat token.`;
    input#emotebox(type="text", name="text", data-default=d, value=d)
    input(type="submit", value="Send")

block script
  script(type="text/javascript", src="/js/gm.bundle.js")
